<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="panel-footer" style="text-align: center; color: #7f7f7f">
     Developed by: Shubham Yeole | Follow me on: 
     &nbsp&nbsp&nbsp&nbsp
     <a href="https://github.com/shubham20yeole" target="_blank"><i class="fa fa-github"></i></a>&nbsp&nbsp&nbsp&nbsp
  <a href="https://www.facebook.com/sy06736n" target="_blank"><i class="fa fa-facebook"></i></a>
  &nbsp&nbsp&nbsp&nbsp
  <a href="https://www.linkedin.com/in/shubhamyeole" target="_blank"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</footer>