<div class="row"  id="mygithubproject">
<h5>GitHub Projects</h5> 
  <a href="https://github.com/shubham20yeole/React.js_Cordova_App" target="_blank">Android Cordova ReactJS</a><br>
  <a href="https://github.com/shubham20yeole/IVR-HelpDeskProject" target="_blank">Interactive Voice Recognition</a><br>
  <a href="https://github.com/shubham20yeole/AmazonWebService-AWS-S3Bucket" target="_blank">Amazon Web Service (S3 Bucket)</a><br>
  
  <hr>
  <h5>Follow me:</h5> 

  <a href="https://github.com/shubham20yeole?tab=repositories" target="_blank"><i class="fa fa-github"></i></a>&nbsp&nbsp&nbsp&nbsp
  <a href="https://www.facebook.com/sy06736n" target="_blank"><i class="fa fa-facebook"></i></a>
  &nbsp&nbsp&nbsp&nbsp
  <a href="https://www.linkedin.com/in/shubhamyeole" target="_blank"><i class="fa fa-linkedin"></i></a>
</div>

<div class="row" id="myproject">
<h5>LIVE PROJECTS</h5> 
  <a href="http://shubham-great-livings.herokuapp.com/" target="_blank">Nodejs Real Estate</a><br>
  <a href="https://java-nodejs-blog.herokuapp.com/" target="_blank">Java and Nodejs Blog</a><br>
  <a href="http://shubham-great-livings.herokuapp.com/timetable" target="_blank">Nodejs Task Tracker</a><br>
  <a href="https://shubhamtwilio.herokuapp.com/" target="_blank">Twilio SMS service</a><br>
  <a href="http://resumeselector.herokuapp.com" target="_blank">Resume Selector (Filter Resume)</a><br>
  <a href="http://visitorsgooglemap.herokuapp.com" target="_blank">Visitors Google Map</a><br>
  <a href="https://github.com/shubham20yeole/React.js_Cordova_App" target="_blank">Android Cordova ReactJS</a><br>
  <a href="https://github.com/shubham20yeole/IVR-HelpDeskProject" target="_blank">Interactive Voice Recognition</a><br>
  <a href="https://github.com/shubham20yeole/AmazonWebService-AWS-S3Bucket" target="_blank">Amazon Web Service (S3 Bucket)</a><br>
  
  <hr>
  <h5>Follow me:</h5> 

  <a href="https://github.com/shubham20yeole?tab=repositories" target="_blank"><i class="fa fa-github"></i></a>&nbsp&nbsp&nbsp&nbsp
  <a href="https://www.facebook.com/sy06736n" target="_blank"><i class="fa fa-facebook"></i></a>
  &nbsp&nbsp&nbsp&nbsp
  <a href="https://www.linkedin.com/in/shubhamyeole" target="_blank"><i class="fa fa-linkedin"></i></a>
</div>
