<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DocumentManager</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a id="postButton" href="#">Post Media</a></li>
      <li class="active"><a id="viewButton" href="#">View Posts</a></li>
      <li>
        <div class="dropdown">
    <a class="btn btn-primary dropdown-toggle addPa" type="button" data-toggle="dropdown">My Other Projects
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li class="divider"></li>
      <li>LIVE PROJECTS</li>
      <li class="divider"></li>
      <li><a href="http://shubham-great-livings.herokuapp.com" target="_blank">Real Estate</a></li>
      <li><a href="https://java-nodejs-blog.herokuapp.com" target="_blank">Java & Nodejs Blog</a></li>
      <li><a href="http://shubham-great-livings.herokuapp.com/timetable" target="_blank">Task Tracker</a></li>
      <li><a href="http://resumeselector.herokuapp.com" target="_blank">Resume Selector</a></li>
      <li><a href="http://visitorsgooglemap.herokuapp.com" target="_blank">Visitors Google Map</a></li><li><a href="https://shubhamtwilio.herokuapp.com" target="_blank">Twilio SMS Service</a></li>
      
      <li class="divider"></li>
      <li>GITHUB PROJECTS</li>
      <li class="divider"></li>
      <li><a href="https://github.com/shubham20yeole/AmazonWebService-AWS-S3Bucket" target="_blank">Amazon Web Services (S3 Bucket)</a></li>
      <li><a href="https://github.com/shubham20yeole/IVR-HelpDeskProject" target="_blank">Interactive Voice Recognition</a></li>
      <li><a href="https://github.com/shubham20yeole/React.js_Cordova_App" target="_blank">ReactJS Cordova Android Project</a></li>

      <li class="divider"></li>
      <li>Follow Me: </li>
      <li class="divider"></li>
      <li><a href="https://github.com/shubham20yeole" target="_blank">GitHub</a></li>
      <li><a href="https://www.facebook.com/sy06736n" target="_blank">Facebook</a></li>
      <li><a href="https://www.linkedin.com/in/shubhamyeole" target="_blank">LinkedIn</a></li>
      <li><a href="http://stackoverflow.com/users/5451749/shubham-yeole?tab=profile" target="_blank">Stack Overflow</a></li>

    </ul>
  </div>
      </li>
    </ul>
    
    <form class="navbar-form" style="float: right;">
        
      <div class="btn-group">
            <input type="text" class="form-control navbar-right dropdown-toggle" id="search" data-toggle="dropdown" placeholder="Search Media by name or extension" autocomplete="off"> <span class="caret"></span>
          <ul class="dropdown-menu scrollable" role="menu">
            <li><span class="searchLoad">Type fine name or file extension like mp3, mp4, pdf, jpg, docx</span></li>
            <li class="divider"></li>
            <li><span id="searchResult"></span></li>
            <li class="divider"></li>
            <li><span class="searchLoad">Developer: Shubham Yeole</span></li>
          </ul>
        </div>
    </form>
  </div>
</nav>
<br><br><br> /.
<a id="goTop">
  <span id="scroll">
    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
  </span>
  <br>
  <span id="scrollText">
    SCROLL TOP
  </span>
</a>