<!DOCTYPE html>
<html lang="en">
<head>
  <title>Documents | Webapp</title>
  <link rel="icon" href="../images/pace.jpg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/js/index.js"></script> 
  <script src="/js/navigator.js"></script> 
</head>
<body>

<div class="container detailView">
</div>
<% include modal.ejs %>

<% include header.ejs %>

<div id="viewPage"><% include ViewPage.ejs %></div>
<div id="uploadPage"><% include UploadPage.ejs %></div>
<br><br><br><br><br><br><br><br><br><br>
<% include footer.ejs %>
</body>
</html>
        
