<!DOCTYPE html>
<html lang="en">
<head>
  <title>Documents | Webapp</title>
  <link rel="icon" href="../images/pace.jpg">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="/js/index.js"></script> 
</head>
<body>
<div class="jumbotron text-center">
  <h1>M A N A G E - D O C U M E N T S</h1>
  <p>By: Shubham Yeole</p> 
</div>

<div class="container detailView">
  <div class="row">
      <button type="button" id="postButton" class="headbtn btn btn-primary">Post Media</button>
      <button type="button" id="viewButton" class="headbtn btn btn-primary">View Media</button>
  </div>
</div>


<div id="viewPage"><% include ViewPage.ejs %></div>
<div id="uploadPage"><% include UploadPage.ejs %></div>


</body>
</html>
        
