 
<div class="container">
<h2>Follow Me at: </h2>
<h2><a href="https://github.com/shubham20yeole?tab=repositories" target="_blank"><i class="fa fa-github"></i></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="https://www.facebook.com/sy06736n" target="_blank"><i class="fa fa-facebook"></i></a>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  <a href="https://www.linkedin.com/in/shubhamyeole" target="_blank"><i class="fa fa-linkedin"></i></a>
  </h2>

  <div class="panel-group" style="max-width: 70%;">
  <hr>
  <h2>My Projects: </h2>
    <div class="panel panel-default">
      <div class="panel-heading center">Shubham Great Livings (Real Estates Web Application)</div>
      <div class="panel-body">
<!--       <h5>Technology Utilized: Nodejs, AngularJS, Express Framework, jQuery, JavaScript, Facebook API, LinkedIn API, MongoDB database</h5>
 -->        
        <span class="left">GitHub URL: <a href="https://github.com/shubham20yeole/Nodejs-Real-Estate-Project" class="projectlink" target="_blank">Nodejs-Real-Estate-Project</a></span>
        <span class="right">Live URL: <a href="http://shubham-great-livings.herokuapp.com  " class="projectlink" target="_blank">shubham-great-livings</a></span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading center">Java & NodeJS Blog</div>
      <div class="panel-body">
        <span class="left">GitHub URL: <a href="https://github.com/shubham20yeole/NodeJS-Blog-Project" class="projectlink" target="_blank">Java & NodeJS Blog</a></span>
        <span class="right">Live URL: <a href="https://java-nodejs-blog.herokuapp.com" class="projectlink" target="_blank">Java & NodeJS Blog</a></span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading center">Media Buzz Net</div>
      <div class="panel-body">
        <span class="left">GitHub URL: <a href="https://github.com/shubham20yeole/MediaBuzzNet" class="projectlink" target="_blank">Midia Buzz Net</a></span>
        <span class="right">Live URL: <a href="http://mediabuzznet.herokuapp.com" class="projectlink" target="_blank">Midia Buzz Net</a></span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading center">Resume Selector (Filter Resume Web App)</div>
      <div class="panel-body">
        <span class="left">GitHub URL: <a href="https://github.com/shubham20yeole/filter-resume-Project" class="projectlink" target="_blank">Filter Resume Web App</a></span>
        <span class="right">Live URL: <a href="http://resumeselector.herokuapp.com" class="projectlink" target="_blank">Filtering Resume Web App</a></span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading center">Task Tracker Web App</div>
      <div class="panel-body">
        <span class="left">GitHub URL: <a href="https://github.com/shubham20yeole/Nodejs-Real-Estate-Project" class="projectlink" target="_blank">Task Tracker Web App</a></span>
        <span class="right">Live URL: <a href="http://shubham-great-livings.herokuapp.com/timetable" class="projectlink" target="_blank">Task Tracker Web App</a></span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading center">Visitors Google Map</div>
      <div class="panel-body">
        <span class="left">GitHub URL: <a href="https://github.com/shubham20yeole/VisitorMap" class="projectlink" target="_blank">Visitors Google Map</a></span>
        <span class="right">Live URL: <a href="http://visitorsgooglemap.herokuapp.com" class="projectlink" target="_blank">Visitors Google Map</a></span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading center">Easy Search SMS Service using Twilio API</div>
      <div class="panel-body">
        <span class="left">GitHub URL: <a href="https://github.com/shubham20yeole/JavaSpringHibernate_TwilioProject" class="projectlink" target="_blank">SMS Service GitHub</a></span>
        <span class="right">Live URL: <a href="https://shubhamtwilio.herokuapp.com" class="projectlink" target="_blank">Visit SMS Service</a></span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading center">Amazon Web Services S3 Bucket</div>
      <div class="panel-body">
        <span class="left">GitHub URL: <a href="https://github.com/shubham20yeole/AmazonWebService-AWS-S3Bucket" class="projectlink" target="_blank">AWS GitHub</a></span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading center">ReactJS + Android + Cordova Mobile App</div>
      <div class="panel-body">
        <span class="left">GitHub URL: <a href="https://github.com/shubham20yeole/React.js_Cordova_App" class="projectlink" target="_blank">Android GitHub</a></span>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading center">Interctive Voice Recognition System</div>
      <div class="panel-body">
        <span class="left">GitHub URL: <a href="https://github.com/shubham20yeole/IVR-HelpDeskProject" class="projectlink" target="_blank">IVR HelpDesk GitHub</a></span>
      </div>
    </div>
  </div>
</div>

