/*body{background-color: #f6f6f7}
*/.detailView{min-width: 97%; display: block;}
.container-table {
    height: 100%;
}
.headbtn{width: 100%; height: 60px}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.mediasec{ padding: 2% 2% 2% 2%; background-color: #eeeeef }
p{cursor: pointer; color: blue; }
.remove_field{ margin-top: -1cm; float: right; }
.append{ padding: 3%; background-color: #f1f1f2; text-align: left; margin: auto;}
#add-cat, #sel-cat{padding-top: 2%; padding-bottom: 2%; font-weight: bold; cursor: pointer; float: right;}
.iframepdf, .iframedoc{min-width: 100%; min-height: 600px} 
.iframeimg{max-width: 100%;}
.iframemovie{
  background:url(../images/load1.gif) center center no-repeat;
 }
.errmsg{color: red; padding: 2%;}
.iframemusic{
  min-width: 100%;
  min-height: 100%;
  background:url(../images/music3.gif) center center no-repeat;
  background-size: 100%;
 }
.iframemovie{
  min-width: 100%;
  min-height: 100%;
  background:url(../images/load1.gif) center center no-repeat;
  background-size: 100%;
 }
 input[type="text"]{
  position: relative;
   font-family: calibri;
   width: 350px;
   padding: 10px;
   font-size: 1.2em;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border: 1px dashed #BBB; 
   text-align: center;
   background-color: #DDD;
   cursor:pointer;
   background: url(/images/input.jpg) 96% / 15% no-repeat #eee; background-size: 33px 33px;
}
#searchResult{padding: 2}
#search{ width: 340px;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  -ms-transition: width 1s ease;
  transition: width 1s ease;
   background: url(/images/search.jpg) 96% / 15% no-repeat #eee; background-size: 33px 33px;
}
.widthinc{width: 360px;}
#search:hover{ width: 360px;}
.dropdown-menu{ width: 360px; padding: 2%;}

input[type="submit"]{
     background-color: green;
}
input[type="file"]{   position: relative;   font-family: calibri;   width: 350px;   padding: 10px;   font-size: 1.2em;
   -webkit-border-radius: 5px;   -moz-border-radius: 5px;   border: 1px dashed #BBB;    text-align: center;
   background-color:white;   cursor:pointer; background: url(/images/file.jpg) 96% / 15% no-repeat #eee; background-size: 33px 33px;}

select { position: relative;   font-family: calibri;   width: 350px;  font-size: 1.2em;   -webkit-border-radius: 5px;   -moz-border-radius: 5px;
   border: 1px dashed #BBB;    text-align: center;   background-color: #DDD;   cursor:pointer;   padding: 9px;
  -webkit-appearance: none;  -moz-appearance: none;  appearance: none;  background: url(/images/drop.jpg) 96% / 15% no-repeat #eee;
background-size: 33px 33px;} 

@media screen and (min-width:0\0) { 
    select {
        background:none;
        padding: 5px;
    }
}::-webkit-scrollbar {
    width: 0em;
    height: 0em
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #84b3c7

}
.show-on-hover:hover > ul.dropdown-menu {
    display: block;    
}
.scrollable{
  overflow:scroll; max-height: 600px;
}
.detailViewHead{padding: 1%; border-radius: 10px 0px 0px 10px; background-color: black}


#mygithubproject{font-size: 10px}
.projecttype{font-size: 10px}
.url{font-size: 10px}
#goTop{
    padding:5px;
    position:fixed;
    bottom:-100px;
    right:10px;
    cursor: pointer;
}
.addPa{padding: 9%;}
#scroll{font-size: 4em;}
#scrollText{font-size: 10px}